/* Configuração geral */
body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

.page {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #f4f4f4;
}

/* Cabeçalho */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f4f4f4;
}

.nav {
  display: flex;
  justify-content: space-between;
 background-color: white;

}

.nav__logo {
  width: 105px;
  height: 50px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-top: 30px;
}

.nav__link {
  color: #213f66;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500px;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 150px;
  color: #213f66;
}

.header__description {
  font-size: 20px;
  max-width: 600px;
  margin-top: 20px;
}
.header__imagen {
  width: 100%;
  height: auto;
}
/* Conteúdo principal */
.content {
  background-color: #ffffff;
  padding: 80px;
}

.section {
  margin-bottom: 80px;
}

.section__title {
  font-size: 36px;
  color: #2f80ed;
  margin-bottom: 20px;
}

.section__description {
  font-size: 18px;
  color: #333;
  max-width: 800px;
}

/* Rodapé */
.footer {
  background-color: #0a2850;
  color: white;
  text-align: center;
  padding: 40px;
}
